body{
    background-color: blanchedalmond;
}
.heading{
    text-align:center;
    color:#634d31;
	font-size: 70px;
	font-family: 'Mooli', sans-serif;
	transform: scale(1);
	transition: 2s;
}
.heading:hover{
	transform: scale(1.05);
	transition: 2s;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h1 {
	font-size: 5.25vmin;
	text-align: center;
	margin-left: 9px;
	color: white;
	font-family: 'Mooli', sans-serif;
}
p {
	font-size: 15px;
	line-height: 1.4;
	color: #0e390e;
	margin-bottom: 1.5rem;
	font-family: 'Mooli', sans-serif;}

.wrap {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 22%;
	height: 20em;
	margin: 2rem 1rem;
	border: 8px solid;
	border-color: burlywood;
	box-shadow: 3px 5px 5px #634d31;
	transition: .3s ease-in-out;
	position: relative;
	overflow: hidden;
}
.overlay {
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	padding: 1rem .75rem;
	background: #634d31;
	transition: .4s ease-in-out;
	z-index: 1;
}
.overlay-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 0vmin;
	height: 100%;
	margin-top: 10px;
	padding: .5rem 0 0 .5rem;
	/* border: 3px solid;
	border-image: 
    	linear-gradient(
      	to bottom, 
      	#AEA724 5%,
      	forestgreen 35% 65%,
      	#AEA724 95%
    	) 0 0 0 100%; */
	transition: .3s ease-in-out .2s;
	z-index: 1;
}
.main_img{
	width:97%;
}
.image-content {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	/* background-image: url("https://assets.codepen.io/4787486/trees.png"); */
	/* background-size: cover; */
	transition: .3s ease-in-out;
	/* border: 1px solid green; */
}

.inset {
	min-height:160px;
	max-height:320px;
	max-width: 100%;
	margin: 0.25em 1em 1em 0;
	border-radius: 0.25em;
	float: left;
}

/* .dots {
	position: absolute;
	bottom: 1rem;
	right: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 55px;
	height: 4vmin;
	transition: .3s ease-in-out .3s;
}
.dot {
	width: 14px;
	height: 14px;
	background: yellow;
	border: 1px solid indigo;
	border-radius: 50%;
	transition: .3s ease-in-out .3s;
} */

.text {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	padding: 3vmin 4vmin;
	background: #fff;
	box-shadow: inset 1px 1px 15px 0 rgba(0 0 0 / .4);
	overflow-y:scroll;
}
.text::-webkit-scrollbar {
	width: 10px;               /* width of the entire scrollbar */
  }
  
  .text::-webkit-scrollbar-track {
	background: transparent;        /* color of the tracking area */
  }
.text::-webkit-scrollbar-thumb {
	background-color: #806f59;    /* color of the scroll thumb */
	border-radius: 20px;       /* roundness of the scroll thumb */
	border: 3px transparent;  /* creates padding around scroll thumb */
  }
  

.wrap:hover .overlay
 {
	transform: translateX(-100%);
}
.wrap:hover .image-content {
	width: 100%;
}
.wrap:hover .overlay-content {
	border: none;
	transition-delay: .2s;
	transform: translateX(45%);
}
/* .wrap:hover .dots {
	transform: translateX(1rem);
}
.wrap:hover .dots .dot {
	background: white;
} */


/* Animations and timing delays */
.animate {
  animation-duration: 0.7s;
  animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
  animation-fill-mode: backwards;
}
/* Pop In */
.pop { animation-name: pop; }
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Slide In */
.slide { animation-name: slide; }
@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(-100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/* Slide Left */
.slide-left { animation-name: slide-left; }
@keyframes slide-left {
  0% {
    opacity: 0;
    transform: translate(-40px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}


.delay-1 {
  animation-delay: 0.3s;
}
.delay-2 {
  animation-delay: 0.6s;
}
.delay-3 {
  animation-delay: 0.9s;
}
.delay-4 {
  animation-delay: 1.2s;
}
.delay-5 {
  animation-delay: 1.5s;
}
.delay-6 {
  animation-delay: 1.8s;
}
.delay-7 {
  animation-delay: 2.1s;
}
.delay-8 {
  animation-delay: 2.4s;
}
.all_cards {
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
@media scren and (max-width:1200px){
	.wrap{
		width:100%;
		height:20em;
	}
}
@media screen and (max-width: 812px) {
	.wrap {
		width:60%;
		height:12em;
	}
}
.foot {
	text-align:end;
    color:#634d31;
	font-size: 30px;
	font-family: 'Mooli', sans-serif;
	margin: 0vmin 3vmin;
	transform: rotate(0deg);
	transition: 4s;
}
.foot:hover{
	transform: rotateY(180deg);
	transition: 4s;
}
.title{
	font-size: 175%;
}